.adminPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  &__changeAdminStatusButton {
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    button {
      border: none;
      outline: none;
      background: none;
    }

    &:hover {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
  }
}
